* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 50px;
    background: #020617;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #38bdf8;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

/* HERO */
.hero {
    min-height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 60px;
    gap: 40px;
}

.hero-text h1 {
    font-size: 42px;
}

.hero-text p {
    margin: 15px 0 25px;
    color: #cbd5f5;
}

/* BUTTON */
.btn {
    padding: 12px 25px;
    border-radius: 25px;
    text-decoration: none;
}

.primary {
    background: #38bdf8;
    color: #020617;
    font-weight: bold;
}

/* HERO IMAGE */
.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    width: 100%;
    max-width: 480px;
    height: auto;
    object-fit: contain;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.6);
}

/* FEATURES */
.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    padding: 50px;
}

.feature {
    background: #020617;
    padding: 25px;
    border-radius: 15px;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 20px;
    background: #020617;
    color: #94a3b8;
}
.booking-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin-top: 30px;
}

.booking-form input {
    padding: 12px 15px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 14px;
}

.booking-form input[readonly] {
    background: #1e293b;
    color: #cbd5f5;
}

.booking-form button {
    margin-top: 10px;
}

.car-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 15px;
}

.price {
    color: #38bdf8;
    font-weight: bold;
    margin-bottom: 12px;
}
.bill-box {
    background: #020617;
    padding: 30px;
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.5);
}

.bill-box h2 {
    text-align: center;
    margin-bottom: 15px;
}

.bill-box p {
    margin: 8px 0;
}

.bill-box hr {
    margin: 15px 0;
    border: 0;
    height: 1px;
    background: #334155;
}

